<mat-toolbar class="page-header">
  <span class="page-title">Produção</span>
  <mat-icon class="page-title-icon"> chevron_right </mat-icon>
  <a href="/dashboard/glebas" class="page-subtitle">Gerenciamento de Glebas</a>
  <mat-icon class="page-title-icon"> chevron_right </mat-icon>
  <a href="/dashboard/glebas/new" class="page-subtitle">Registrar Nova Gleba</a>
</mat-toolbar>

<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>
      <div class="form-card-title">
        <mat-icon class="form-card-title-icon">grass</mat-icon>
        Registro de Gleba
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="form" [formGroup]="glebaFormGroup" (submit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Nome da Gleba</mat-label>
        <input
          matInput
          placeholder="Nome da Gleba"
          type="text"
          formControlName="name"
          required
        />
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('name')?.errors?.['required'] && glebaFormGroup.get('name')?.touched"
          >Campo obrigatório.</mat-hint
        >
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('name')?.errors?.['minlength'] && glebaFormGroup.get('name')?.touched"
          >Mínimo de 6 caracteres.</mat-hint
        >
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('name')?.errors?.['maxlength'] && glebaFormGroup.get('name')?.touched"
          >Máximo de 100 caracteres.</mat-hint
        >
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Área (ha)</mat-label>
        <input
          matInput
          placeholder="100"
          type="text"
          formControlName="area"
          required
        />
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('area')?.errors?.['required'] && glebaFormGroup.get('area')?.touched"
          >Campo obrigatório.</mat-hint
        >
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('area')?.errors?.['min'] && glebaFormGroup.get('area')?.touched"
          >O valor inserido deve ser maior do que 0.</mat-hint
        >
      </mat-form-field>

      <div class="form-inline-fields">
        <mat-form-field class="full-width form-inline-field">
          <mat-label>Espaçamento horizontal</mat-label>
          <input
            matInput
            placeholder="1.5"
            type="text"
            formControlName="horizontalSpacing"
            required
          />
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('horizontalSpacing')?.errors?.['required'] && glebaFormGroup.get('horizontalSpacing')?.touched"
            >Campo obrigatório.</mat-hint
          >
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('horizontalSpacing')?.errors?.['min'] && glebaFormGroup.get('horizontalSpacing')?.touched"
            >O valor inserido deve ser maior do que 0.</mat-hint
          >
        </mat-form-field>

        <mat-form-field class="full-width form-inline-field">
          <mat-label>Espaçamento vertical</mat-label>
          <input
            matInput
            placeholder="0.8"
            type="text"
            formControlName="verticalSpacing"
            required
          />
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('verticalSpacing')?.errors?.['required'] && glebaFormGroup.get('verticalSpacing')?.touched"
            >Campo obrigatório.</mat-hint
          >
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('verticalSpacing')?.errors?.['min'] && glebaFormGroup.get('verticalSpacing')?.touched"
            >O valor inserido deve ser maior do que 0.</mat-hint
          >
        </mat-form-field>
      </div>

      <div class="form-inline-fields">
        <mat-form-field class="full-width form-inline-field">
          <mat-label>Número de plantas</mat-label>
          <input
            matInput
            placeholder="1000"
            type="number"
            formControlName="plants"
            required
          />
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('plants')?.errors?.['required'] && glebaFormGroup.get('plants')?.touched"
            >Campo obrigatório.</mat-hint
          >
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('plants')?.errors?.['min'] && glebaFormGroup.get('plants')?.touched"
            >O valor inserido deve ser maior do que 0.</mat-hint
          >
        </mat-form-field>

        <mat-form-field class="full-width form-inline-field">
          <mat-label>Altitude (m)</mat-label>
          <input
            matInput
            placeholder="1000"
            type="number"
            formControlName="altitude"
            required
          />
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('altitude')?.errors?.['required'] && glebaFormGroup.get('altitude')?.touched"
            >Campo obrigatório.</mat-hint
          >
          <mat-hint
            class="text-danger"
            *ngIf="glebaFormGroup.get('altitude')?.errors?.['min'] && glebaFormGroup.get('altitude')?.touched"
            >O valor inserido deve ser maior do que 0.</mat-hint
          >
        </mat-form-field>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Cultivar</mat-label>
        <input
          matInput
          placeholder="Nome do Cultivar"
          type="text"
          formControlName="variety"
          required
        />
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('variety')?.errors?.['required'] && glebaFormGroup.get('variety')?.touched"
          >Campo obrigatório.</mat-hint
        >
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('variety')?.errors?.['minlength'] && glebaFormGroup.get('variety')?.touched"
          >Mínimo de 5 caracteres.</mat-hint
        >
        <mat-hint
          class="text-danger"
          *ngIf="glebaFormGroup.get('variety')?.errors?.['maxlength'] && glebaFormGroup.get('variety')?.touched"
          >Máximo de 100 caracteres.</mat-hint
        >
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">
          Cadastrar Gleba
        </button>
        <a mat-raised-button color="primary" href="/dashboard/glebas"
          >Cancelar</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
