<mat-toolbar color="primary" class="header">

  <div class="header-title">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="toggleSidenav()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-icon class="header-title-brand-icon">coffee</mat-icon>
    <span class="header-title-brand">Belo Café - ERP</span>
  </div>

  <div class="header-toolbar">
    <app-search></app-search>
    <app-notifications></app-notifications>
    <mat-divider [vertical]="true" class="header-divider"></mat-divider>
    <app-user></app-user>
  </div>
</mat-toolbar>
